In [21]:
import pyspark
import pandas as pd

In [24]:
from pyspark.sql import SparkSession

In [25]:
spark = SparkSession.builder.appName('DemoSession').getOrCreate()

In [26]:
spark

In [27]:
df_pyspark=spark.read.csv('banklist.csv')

In [33]:
df_pyspark2=spark.read.option('header', 'True').csv('banklist.csv', inferSchema = True)

In [30]:
df_pyspark2.show()

+--------------------+------------------+------+-----+----------------------+-------------+-----+
|          Bank Name�|             City�|State�|Cert�|Acquiring Institution�|Closing Date�| Fund|
+--------------------+------------------+------+-----+----------------------+-------------+-----+
|      Signature Bank|          New York|    NY|57053|   Flagstar Bank, N.A.|    12-Mar-23|10540|
| Silicon Valley Bank|       Santa Clara|    CA|24735|  First�Citizens Ba...|    10-Mar-23|10539|
|   Almena State Bank|            Almena|    KS|15426|           Equity Bank|    23-Oct-20|10538|
|First City Bank o...| Fort Walton Beach|    FL|16748|  United Fidelity B...|    16-Oct-20|10537|
|The First State Bank|     Barboursville|    WV|14361|        MVB Bank, Inc.|     3-Apr-20|10536|
|  Ericson State Bank|           Ericson|    NE|18265|  Farmers and Merch...|    14-Feb-20|10535|
|City National Ban...|            Newark|    NJ|21111|       Industrial Bank|     1-Nov-19|10534|
|       Resolute Bank|            Maumee|    OH|58317|    Buckeye State Bank|    25-Oct-19|10533|
|Louisa Community ...|            Louisa|    KY|58112|  Kentucky Farmers ...|    25-Oct-19|10532|
|The Enloe State Bank|            Cooper|    TX|10716|    Legend Bank, N. A.|    31-May-19|10531|
|Washington Federa...|           Chicago|    IL|30570|    Royal Savings Bank|    15-Dec-17|10530|
|The Farmers and M...|           Argonia|    KS|17719|           Conway Bank|    13-Oct-17|10529|
| Fayette County Bank|        Saint Elmo|    IL| 1802|  United Fidelity B...|    26-May-17|10528|
|Guaranty Bank, (d...|         Milwaukee|    WI|30003|  First-Citizens Ba...|     5-May-17|10527|
|      First NBC Bank|       New Orleans|    LA|58302|          Whitney Bank|    28-Apr-17|10526|
|       Proficio Bank|Cottonwood Heights|    UT|35495|     Cache Valley Bank|     3-Mar-17|10525|
|Seaway Bank and T...|           Chicago|    IL|19328|   State Bank of Texas|    27-Jan-17|10524|
|Harvest Community...|        Pennsville|    NJ|34951|  First-Citizens Ba...|    13-Jan-17|10523|
|         Allied Bank|          Mulberry|    AR|   91|          Today's Bank|    23-Sep-16|10522|
|The Woodbury Bank...|          Woodbury|    GA|11297|           United Bank|    19-Aug-16|10521|
+--------------------+------------------+------+-----+----------------------+-------------+-----+
only showing top 20 rows

In [31]:
type(df_pyspark2)

pyspark.sql.dataframe.DataFrame

In [34]:
df_pyspark2.printSchema()

root
 |-- Bank Name�: string (nullable = true)
 |-- City�: string (nullable = true)
 |-- State�: string (nullable = true)
 |-- Cert�: integer (nullable = true)
 |-- Acquiring Institution�: string (nullable = true)
 |-- Closing Date�: string (nullable = true)
 |-- Fund: integer (nullable = true)

In [44]:
df_pyspark2.describe().show()

23/04/24 19:42:10 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+--------------------+-------+------+------------------+----------------------+-------------+------------------+
|summary|          Bank Name�|  City�|State�|             Cert�|Acquiring Institution�|Closing Date�|              Fund|
+-------+--------------------+-------+------+------------------+----------------------+-------------+------------------+
|  count|                 565|    565|   565|               565|                   565|          565|               565|
|   mean|                null|   null|  null| 31663.06371681416|                  null|         null|10038.654867256637|
| stddev|                null|   null|  null|16451.887876412864|                  null|         null|1113.7598768569017|
|    min|1st American Stat...|Acworth|    AL|                91|       1st United Bank|     1-Aug-08|              4645|
|    max|               ebank|Wyoming|    WY|             58701|   Your Community Bank|     9-Sep-11|             10540|
+-------+--------------------+-------+------+------------------+----------------------+-------------+------------------+

In [46]:
df_pyspark2.withColumn('New col', df_pyspark2['Fund']+1).show()

+--------------------+------------------+------+-----+----------------------+-------------+-----+-------+
|          Bank Name�|             City�|State�|Cert�|Acquiring Institution�|Closing Date�| Fund|New col|
+--------------------+------------------+------+-----+----------------------+-------------+-----+-------+
|      Signature Bank|          New York|    NY|57053|   Flagstar Bank, N.A.|    12-Mar-23|10540|  10541|
| Silicon Valley Bank|       Santa Clara|    CA|24735|  First�Citizens Ba...|    10-Mar-23|10539|  10540|
|   Almena State Bank|            Almena|    KS|15426|           Equity Bank|    23-Oct-20|10538|  10539|
|First City Bank o...| Fort Walton Beach|    FL|16748|  United Fidelity B...|    16-Oct-20|10537|  10538|
|The First State Bank|     Barboursville|    WV|14361|        MVB Bank, Inc.|     3-Apr-20|10536|  10537|
|  Ericson State Bank|           Ericson|    NE|18265|  Farmers and Merch...|    14-Feb-20|10535|  10536|
|City National Ban...|            Newark|    NJ|21111|       Industrial Bank|     1-Nov-19|10534|  10535|
|       Resolute Bank|            Maumee|    OH|58317|    Buckeye State Bank|    25-Oct-19|10533|  10534|
|Louisa Community ...|            Louisa|    KY|58112|  Kentucky Farmers ...|    25-Oct-19|10532|  10533|
|The Enloe State Bank|            Cooper|    TX|10716|    Legend Bank, N. A.|    31-May-19|10531|  10532|
|Washington Federa...|           Chicago|    IL|30570|    Royal Savings Bank|    15-Dec-17|10530|  10531|
|The Farmers and M...|           Argonia|    KS|17719|           Conway Bank|    13-Oct-17|10529|  10530|
| Fayette County Bank|        Saint Elmo|    IL| 1802|  United Fidelity B...|    26-May-17|10528|  10529|
|Guaranty Bank, (d...|         Milwaukee|    WI|30003|  First-Citizens Ba...|     5-May-17|10527|  10528|
|      First NBC Bank|       New Orleans|    LA|58302|          Whitney Bank|    28-Apr-17|10526|  10527|
|       Proficio Bank|Cottonwood Heights|    UT|35495|     Cache Valley Bank|     3-Mar-17|10525|  10526|
|Seaway Bank and T...|           Chicago|    IL|19328|   State Bank of Texas|    27-Jan-17|10524|  10525|
|Harvest Community...|        Pennsville|    NJ|34951|  First-Citizens Ba...|    13-Jan-17|10523|  10524|
|         Allied Bank|          Mulberry|    AR|   91|          Today's Bank|    23-Sep-16|10522|  10523|
|The Woodbury Bank...|          Woodbury|    GA|11297|           United Bank|    19-Aug-16|10521|  10522|
+--------------------+------------------+------+-----+----------------------+-------------+-----+-------+
only showing top 20 rows